<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PS34031_Lab"
        tools:targetApi="31">
        <activity
            android:name=".BaiTap.Bai10"
            android:exported="true"
            android:label="@string/title_activity_bai10"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".BaiTap.Bai9"
            android:exported="true"
            android:label="@string/title_activity_bai9"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".BaiTap.Demo2"
            android:exported="false"
            android:label="@string/title_activity_demo2"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".BaiTap.Bai8"
            android:exported="true"
            android:label="@string/title_activity_bai8"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".BaiTap.Bai7"
            android:exported="true"
            android:label="@string/title_activity_bai7"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".BaiTap.Bai6"
            android:exported="true"
            android:label="@string/title_activity_bai6"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".BaiTapLab.AcquaintedActivity"
            android:exported="true"
            android:label="@string/title_activity_acquainted"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".BaiTapLab.PasswordActivity"
            android:exported="true"
            android:label="@string/title_activity_password"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".BaiTapLab.LoginSMSActivity"
            android:exported="true"
            android:label="@string/title_activity_login_smsactivity"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".BaiTapLab.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".Lab.Lab4.Lab4Bai3"
            android:exported="true"
            android:label="@string/title_activity_lab4_bai3"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".Lab.Lab4.Lab4Bai2"
            android:exported="true"
            android:label="@string/title_activity_lab4_bai2"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".Lab.Lab4.Lab4Bai1"
            android:exported="true"
            android:label="@string/title_activity_lab4_bai1"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".Lab.Lab3.Lab3"
            android:exported="true"
            android:label="@string/title_activity_lab3"
            android:theme="@style/Theme.PS34031_Lab" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PS34031_Lab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>